@if (Responses != null && Responses.HasError)
{
    <div class="flex flex-col space-y-4">

        @foreach (var response in Responses.ResponseList)
        {
            <div class="flex flex-row items-center bg-@Color-200 p-5 rounded border-b-2 border-@Color-300" role="alert">
                <div class="flex items-center bg-@Color-100 border-2 border-@Color-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
                    <span class="text-@Color-500">
                        <svg fill="currentColor"
                     viewBox="0 0 20 20"
                     class="h-6 w-6">
                            <path fill-rule="evenodd"
                          d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                          clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </div>
                <div class="ml-4">
                    <div class="font-semibold text-lg text-@Color-800">
                        @response.Title
                    </div>
                    @if (!string.IsNullOrWhiteSpace(response.Description))
                    {
                        <div class="text-sm text-@Color-600">
                            @response.Description
                        </div>
                    }

                </div>
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public Responses Responses { get; set; }

    [Parameter]
    public string Color { get; set; } = "red";
}
