<div class="bg-@Colors.Primary text-@Colors.LightBackground px-8 py-10 font-semibold rounded-lg text-lg">
    <h2 class="text-2xl text-center flex justify-between items-center">
        <span>
            @Character.Name
        </span>
        <span>
            <NewCelebrities.Web.Components.Icons.GenderIcon Gender=@Character.Gender />
        </span>
    </h2>
    @if (HintAllowed)
    {
        @if (ShowInfo)
        {
            <div class="card-body">
                @Character.Location.Country
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public Character Character { get; set; }

    [Parameter]
    public bool ShowInfo { get; set; }

    [Parameter]
    public bool HintAllowed { get; set; }
}
