@page "/characters"

@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Characters</h1>

<ul>
    @foreach (var character in characters)
    {
        <li>@character.Name</li>
    }
</ul>


@code {
    private List<Character> characters = new List<Character>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("data/populars.csv");
        var result = await response.Content.ReadAsStringAsync();
        var lines = result.Split(Environment.NewLine);
        characters = Core.File.Reader.Read(lines).ToList();
    }
}
