<header class="w-full text-white bg-gray-100 mb-8 border-b-2 border-@Colors.Primary">
    <div class="flex flex-row items-center justify-between py-2 md:py-3 px-4 md:px-8 ">
        <div class="flex flex-row items-center justify-between">
            <NavLink class="flex items-center"
                     href="" Match="NavLinkMatch.All">
                <img src="img/logos/blue.png" class="w-8 h-8 mr-2" alt="Logo">
                <strong class="uppercase text-@Colors.Primary hover:text-@Colors.PrimaryDarker tracking-widest text-2xl">Celebrity</strong>
            </NavLink>
        </div>
        <nav class="text-sm flex justify-end items-center flex-row space-x-2 text-@Colors.Primary hover:text-@Colors.PrimaryLighter">

        </nav>
    </div>
</header>


@code {
    public static string InactiveText = $"flex items-center px-4 py-2 font-semibold rounded-lg";
    public static string ActiveText = $"text-white bg-{Colors.Primary} hover:text-white";
}

